<!-- <h1>{{title}}</h1> -->
<!-- <app-user-list></app-user-list>
<app-student-list></app-student-list>
<app-country-list></app-country-list>
<app-login></app-login>
<br><br>
<h1>
    #9  Make and Call Function

    * Define Call <br>
    * Call Function and button click <br>
    * param in Function <br>
    * Interview Questions <br>
    <button (click)="getName('Neeraj','Kumar.')">Call Function</button>
    
</h1>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<h1>#10 Important Events</h1>

<h2>Important Events in Angular</h2>
<button (click)="getData('hello')">Call Function</button>
<br><br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup" />
<br><br>
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="event keydown" />
<br><br>
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="event blur" />
<br><br>
<input type="text" #box3 (input)="getData(box3.value)" placeholder="event input" />

<h1 (mouseover)="getData('over')">Neeraj Sangwan ( mouseover event)</h1>
<h1 (mouseleave)="getData('leave')">Neeraj Sangwan ( mouseleave event)</h1>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<h1>#11 Get Text Box value and Print</h1> -->

<!-- <input type="text" #box placeholder="Enter Name" name="name"/>
<button (click)="getValue(box.value)">click</button>
<p> Box Value is : {{displayVal}} </p> -->

<!-- <p>------------------------------------------------------------------------------------------------</p>
<h1>#12 Increment and Decrement Buttons</h1>
<br>
<button (click)="counter('minus')">--</button>
<p>count:{{count}}</p>
<button (click)="counter('add')">++</button>
<br> -->
<!-- <p>------------------------------------------------------------------------------------------------</p>
<h1>#13 Basic Rule of Style </h1>
<br>
<h1 class="heading">{{title}}</h1>
<app-login></app-login>
<br> -->
<!-- <p>------------------------------------------------------------------------------------------------</p>
<h1>#14 Property Binding </h1>
<br>
<h1>{{title}}</h1>
<br>
<input type="text" name="user-mame" value={{name}} disabled={{disable}}>
<br> <br>
<input type="text" name="user-mame" [value]=name [disabled]=disable>
<br>
<p>------------------------------------------------------------------------------------------------</p> -->
<!-- <h1>If - else condition</h1> -->
<!-- <h1 *ngIf="show;then ifBlock else elseBlock"></h1> -->
<!-- <h1 *ngIf="show=='yes'; then ifBlock else elseBlock"></h1>
    
<ng-template #ifBlock>
    <h1>If  condition</h1>
</ng-template>

<ng-template #elseBlock>
     <h1>Else Condition</h1>
</ng-template> -->
<br>
<p>------------------------------------------------------------------------------------------------</p>

<h1>#16 Multiple condition or else if </h1>
<ng-template [ngIf]="color==='red'">
    <h1 style="color: red;">Red Color</h1>

</ng-template>
<ng-template [ngIf]="color==='blue'">
    <h1 style="color: blue;">Blue Color</h1>

</ng-template>
<ng-template [ngIf]="color==='black'">
    <h1 style="color: black;">Black Color</h1>

</ng-template>