<app-header-main></app-header-main>
<h1>{{title}}</h1>
<app-user-list></app-user-list>
<app-student-list></app-student-list>
<app-country-list></app-country-list>
<app-login></app-login>
<br><br>
<h1>
    #9  Make and Call Function

    * Define Call <br>
    * Call Function and button click <br>
    * param in Function <br>
    * Interview Questions <br>
    <button (click)="getName('Neeraj','Kumar.')">Call Function</button>
    
</h1>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<h1>#10 Important Events</h1>

<h2>Important Events in Angular</h2>
<button (click)="getData('hello')">Call Function</button>
<br><br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup" />
<br><br>
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="event keydown" />
<br><br>
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="event blur" />
<br><br>
<input type="text" #box3 (input)="getData(box3.value)" placeholder="event input" />

<h1 (mouseover)="getData('over')">Neeraj Sangwan ( mouseover event)</h1>
<h1 (mouseleave)="getData('leave')">Neeraj Sangwan ( mouseleave event)</h1>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<h1>#11 Get Text Box value and Print</h1> 

<input type="text" #box placeholder="Enter Name" name="name"/>
<button (click)="getValue(box.value)">click</button>
<p> Box Value is : {{displayVal}} </p>

<p>------------------------------------------------------------------------------------------------</p>
<h1>#12 Increment and Decrement Buttons</h1>
<br>
<button (click)="counter('minus')">--</button>
<p>count:{{count}}</p>
<button (click)="counter('add')">++</button>
<br> 
 <p>------------------------------------------------------------------------------------------------</p>
<h1>#13 Basic Rule of Style </h1>
<br>
<h1 class="heading">{{title}}</h1>
<app-login></app-login>
<br> 
<p>------------------------------------------------------------------------------------------------</p>
<h1>#14 Property Binding </h1>
<br>
<h1>{{title}}</h1>
<br>
<input type="text" name="user-mame" value={{name}} disabled={{disable}}>
<br> <br>
<input type="text" name="user-mame" [value]=name [disabled]=disable>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<h1>If - else condition</h1> -->
<h1 *ngIf="show;then ifBlock else elseBlock"></h1> -->
<h1 *ngIf="show=='yes'; then ifBlock else elseBlock"></h1>
    
<ng-template #ifBlock>
    <h1>If  condition</h1>
</ng-template>

<ng-template #elseBlock>
     <h1>Else Condition</h1>
</ng-template> 
<br>
<p>------------------------------------------------------------------------------------------------</p>

<h1>#16 Multiple condition or else if </h1>
<ng-template [ngIf]="color==='red'">
    <h1 style="color: red;">Red Color</h1>

</ng-template>
<ng-template [ngIf]="color==='blue'">
    <h1 style="color: blue;">Blue Color</h1>

</ng-template>
<ng-template [ngIf]="color==='black'">
    <h1 style="color: blac;">Black Color</h1>

</ng-template>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<h1> Switch Case</h1>
<div [ngSwitch]="switchcolor">
    <h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
    <h1 *ngSwitchCase="'blue'" style="color: blue;">Blue Color</h1>
    <h1 *ngSwitchCase="'brown'" style="color: brown;">Brown Color</h1>
    <h1 *ngSwitchCase="'orange'" style="color: orange;">Orange Color</h1>
    <h1 *ngSwitchCase="'skyblue'" style="color:skyblue;">Skyblue Color</h1>
    <h1 *ngSwitchDefault>Unknow Color</h1>
</div>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<h1>For Loop # 18</h1>
<h3 *ngFor="let item of loopuser">Name is : {{item}}</h3>
<h3 *ngFor="let item of loopuserdetails">{{item.name}}--{{item.email}}--{{item.phone}}</h3>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<h3> Nesteed loop # 19
    <br>1 Make Array 
    <br>2 Apply for Loop on it
    <br>3 Make Nested Array
    <br>4 Apply Loop on Nested Array
    <br>5 Interview Questions
    </h3>
    <br>
    <ul *ngFor="let user of nestedloopuser">
        <li>{{user.name}}</li>
        <li>{{user.phone}}</li>
        <li>Social Accounts</li>
        <ul *ngFor="let account of user.socialAccounts">
            <li>
                {{account}}
            </li>

        </ul>

    </ul>
    <br>
<p>------------------------------------------------------------------------------------------------</p>
<h2>Style Binding # 20 </h2>
<h1 [style.color]="color20" [style.backgroundColor]="bgColor">Style Binding # 20</h1>
<button (click)="updateColor()">updateColor</button>

<br>
<p>------------------------------------------------------------------------------------------------</p>
<h2>#21 Header --> make a header component, add image and manu, add style, interview questions</h2>
<app-header></app-header>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<h2>Toggle Element #22 </h2>
<button (click)="toggle()">Toggle</button>
<h2 *ngIf="displayb">
    Heading Tag
</h2>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<h2> Add BootStrap #23 </h2>
<br>
<p>
	<ngb-alert [dismissible]="false">
		<strong>Warning!</strong> Better check yourself, you're not looking too good.
	</ngb-alert>
</p>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
	<ngb-panel title="Simple">
		<ng-template ngbPanelContent>
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
			officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
			moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
			vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
			heard of them accusamus labore sustainable VHS.
		</ng-template>
	</ngb-panel>
	<ngb-panel>
		<ng-template ngbPanelTitle>
			<span>&#9733; <b>Fancy</b> title &#9733;</span>
		</ng-template>
		<ng-template ngbPanelContent>
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
			officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
			moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
			vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
			heard of them accusamus labore sustainable VHS.
		</ng-template>
	</ngb-panel>
	<ngb-panel title="Disabled" [disabled]="true">
		<ng-template ngbPanelContent>
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
			officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
			moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
			vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
			heard of them accusamus labore sustainable VHS.
		</ng-template>
	</ngb-panel>
</ngb-accordion>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<br>
<h2>Todo List with Angular </h2>
<br>
<input type="text" placeholder="Enter New Task" #task />
<br><br>
<button (click)="addTask(task.value)">Add Task</button>
<ul *ngFor="let item of list ">
    <li>{{item.name}} <button (click)="removeTask(item.id)">Remove</button></li>
</ul>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<br>
<h2># 26 Send Data Parent to Child Component</h2>
<app-child [item]="data"></app-child>
<button (click)="updatChild()">Update Child Component</button>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<br>
<h2>#27 Resusable Component</h2>
<ul *ngFor="let user of userDetails">
    <app-user-details [item]="user"></app-user-details> 
    <!-- copy this line and paist anywhere for reusing data  --></ul>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<br>
<h2>#28 Send Data Child to Parent Component</h2>
<app-child-b (updateDataEvent)="updateData($event)"></app-child-b>
<h2>{{datab}}</h2>

<br>
<p>------------------------------------------------------------------------------------------------</p>
<br>
<h2> # 29 Two Way Binding ( On same time to display and update property is called two way binding</h2>
<input type="text" [(ngModel)]="namec">
<h3>{{namec}}</h3>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<br>
<h2># 30 Template Reference Variable</h2>
<input type="text" #userbox>
<button (click)="getValk(userbox.value)">Call Function</button>
<br><br>
<input type="text" #userbox>
<button (click)="getValk(userbox)">Call Function</button>
<br><br>
<input type="text" #userbox name="user" placeholder="Enter user name">
<button (click)="getValk(userbox)">Call Function</button>
<br><br>
<input type="text" #userbox name="user" placeholder="Enter user name">
<button (click)="getValk(userbox.placeholder)">Call Function</button>

<br>
<p>------------------------------------------------------------------------------------------------</p>
<br>
<h2>Basic of TS for Angular</h2>
 <h2>Pending</h2>
 <br>
<p>------------------------------------------------------------------------------------------------</p>
<br>
<h2>Basic of Pipes</h2>
<h2>{{title | uppercase}}</h2>
<h2>{{title | lowercase}}</h2>
<h2>{{title}}</h2>
<h2>{{today | date : 'fullDate'}}</h2>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<br>
<h2>Advance Pipes</h2>
<h2>{{titleb | slice : 3 : 6 | uppercase}}</h2>
<h2>{{userd | json | uppercase}}</h2>
<h2>{{2000.3000 | number : '2.2-3'}}</h2>
<h2>{{20 | currency:'INR'}}</h2>

<br>
<p>------------------------------------------------------------------------------------------------</p>
<br>
<H2>Custom Pipes</H2>
<h2>{{20 | usdInr }}</h2>
<h2>{{20 | usdInr : 72 }}</h2>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<br>
<h2>
    # 35 Form Introduction <br> Why we use forms. <br>types of forms. <br>
    What we learn about form in upcoming video. <br> Forms Data flow.
    <br> Interview Question. <br> <br>----- Forms Use --------- <br>
    1 Submit any kind of information to Database. <br>
    2 But angular can not connect to Database. <br>
    3 So we send data to API <br>
    4 And API update the databse <br>
    5 Example <br>
    * Login <br>
    * Sign Up <br>
    * Post <br>
    * google search is also a type of form <br>
    <br>
    ---------- Forms Type in Angular --------- <br>
    1 Template-driven form. <br> ------> Mostly work done in the Component template. <br>
    2 Reactive form <br>
    --------> Mostly work done in component class.
    <br><br>
    --------- What we learn In Forms ---------- <br>
    * How to make forms. <br>
    * How to get Data from forms. <br>
    * How to add validations <br>
    * How to show error message <br>
    * How to call API <br>
    * How to show pre-fill forms <br> <br>
    ------- Data Flow with Forms --------- <br>
    Template --> Class --> Service --> Database <br>
<br>
<p>------------------------------------------------------------------------------------------------</p>
<br>
<br>
<h2> # 35 Template Driven Form
    * What are template-driven forms? <br>
    * Make simple form. <br>
    * Get form Value in ts file. <br>
    * Interview Questions <br>
    <br>
    What is Template Driven file  <br>
    Ans: Forms that handling by template-driven file(app.component.html file ). <br>
    * app.component.ts file  is called "Class File"
    <br><br><br>
    <form #loginForm="ngForm" (ngSubmit)=userLogin(loginForm.value)> 
    <input type="text" placeholder="Enter Name" name="name" ngModel>
    <br><br>
    <input type="password" placeholder="Enter Password" name="password" ngModel>
    <br><br>
    <button>Login</button>
    </form>
    <br><br>
    <button (click)=userLogin(loginForm.value)>Out Side Login</button>



<br><br>
    <app-footer></app-footer>